.rest-slide-container {
  text-align: center;

  .rest-slide-title {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.93px;
    margin-bottom: 13px;
    margin-top: 51px;
  }

  .rest-slide {
    display: flex;
    overflow-x: scroll;
    margin-left: 20px;
    margin-bottom: 100px;
  }
}
