.buttons-container {
  padding: 40px 75px 42px 76px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.page-button {
  width: 131px;
  margin: 0 0 0 17px;
  padding: 15px 14px 13px;
  background-color: #e8c47a;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.93px;
  font-family: HelveticaNeue;
}
