header {
  width: 375px;
  height: 45px;

  .header-buttons {
    display: flex;

    .menu-button {
      width: 18px;
      height: 14px;
      margin: 19px 0 12px 19px;
      background: url("../../assets/icons/menu-icon.png");
      background-size: 18px 14px;
      border: none;
      cursor: pointer;
    }

    .app-button {
      width: 31px;
      height: 30px;
      margin: 8px 0 7px 134px;
      background: url("../../assets/icons/app-icon-small.png");
      background-size: 31px 30px;
      border: none;
      cursor: pointer;
    }

    .search-button {
      width: 18px;
      height: 18px;
      margin: 17px 0 12px 46px;
      background: url("../../assets/icons/search-icon.png");
      background-size: 18px 18px;
      border: none;
      cursor: pointer;
    }

    .user-button {
      width: 18px;
      height: 18px;
      margin: 17px 0 12px 26px;
      background: url("../../assets/icons/user-icon.png");
      background-size: 18px 18px;
      border: none;
      cursor: pointer;
    }

    .bag-button {
      width: 18px;
      height: 18px;
      margin: 17px 0 12px 26px;
      background: url("../../assets/icons/bag-icon.png");
      background-size: 18px 18px;
      border: none;
      cursor: pointer;
    }
  }

  .header-line {
    width: 375px;
    height: 1px;
    margin-bottom: 21px;
    box-shadow: 0 1.5px 1px 0 rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 600px) {
  header {
    width: 100%;
    height: 62px;

    .header-buttons {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 62px;

      .left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 62px;

        .app-button {
          width: 33px;
          height: 33px;
          margin: 0px;
          margin-left: 123px;
          background-size: 33px 33px;
        }

        %remove-decor {
          color: black;
          text-decoration: none;
          font-weight: 100;
        }

        .epicure {
          margin-left: 15px;
          font-size: 27px;
          letter-spacing: 1.35px;
          @extend %remove-decor;
        }

        %marked {
          padding-bottom: 10px;
          border-bottom: 2px solid rgba(222, 146, 0, 0.9);
          margin-bottom: -10px;
        }

        .restaurants {
          margin-left: 31px;
          font-size: 18px;
          letter-spacing: 1.92px;
          @extend %remove-decor;

          &:hover {
            @extend %marked;
          }
        }

        .restaurants-active {
          @extend .restaurants;
          @extend %marked;
        }

        .chefs {
          margin-left: 28px;
          font-size: 18px;
          letter-spacing: 1.92px;
          @extend %remove-decor;

          &:hover {
            @extend %marked;
          }
        }

        .chefs-active {
          @extend .chefs;
          @extend %marked;
        }
      }

      .right-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-search-field {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 415px;
          height: 34px;
          border-radius: 5px;
          border: solid 1px black;
          opacity: 0.5;

          .header-search-text {
            border: none;

            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1.29px;
            width: 400px;
          }

          .search-button {
            width: 22px;
            height: 22px;
            background-size: 22px 22px;
            margin: 0px;
            margin-right: 13px;
          }
        }
        .user-button {
          width: 23px;
          height: 23px;
          background-size: 23px 23px;
        }

        .bag-button {
          width: 22px;
          height: 22px;
          background-size: 22px 22px;
          margin-right: 123px;
        }
      }
    }

    .header-line {
      width: 100%;
    }
  }
}
