.dish-icons-container {
  margin: 95px 0 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  height: 134px;

  .icons-title {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 22px;
      gap: 16px;

      .spicy-icon {
        width: 44px;
        height: 34px;
      }

      .vegi-icon {
        width: 33px;
        height: 34px;
      }

      .vegan-icon {
        width: 37px;
        height: 37px;
      }

      .icons-text {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }
  }
}

@media (min-width: 600px) {
  .dish-icons-container {
    height: 265px;
    gap: 25px;

    .icons-title {
      font-size: 30px;
      letter-spacing: 2.14px;
    }

    .icons-container {
      gap: 105px;

      .icon-container {
        gap: 30px;

        .spicy-icon {
          width: 80px;
          height: 61px;
        }

        .vegi-icon {
          width: 60px;
          height: 60px;
        }

        .vegan-icon {
          width: 67px;
          height: 67px;
        }

        .icons-text {
          font-size: 23px;
          letter-spacing: 1.8px;
        }
      }
    }
  }
}
