.dishes-home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;

  .dishes-home-title {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.25px;
    margin-bottom: 42px;
  }

  .dishes-home {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 11px;
    margin-bottom: 31px;

    .dishes-home-dish {
      display: flex;
      flex-direction: column;
      gap: 23px;

      .dishes-home-rest {
        font-size: 30px;
        letter-spacing: 1.77px;
        font-weight: normal;
      }
    }
  }
}
