.restaurants-container {
  align-items: center;
  text-align: center;

  .rests-title {
    font-size: 20px;
    letter-spacing: 1.54px;
    margin: 20px 2px 22px 2px;
  }

  .rests-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 21px 20px;

    .rests-button {
      font-size: 16px;
      font-weight: 100;
      border: none;
      letter-spacing: 1.71px;
      background-color: transparent;
      padding: 0px;

      &:hover {
        font-weight: normal;
      }
    }
  }

  .rests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7px;
  }
}

@media (min-width: 600px) {
  .restaurants-container {
    .rests-buttons {
      justify-content: center;
      gap: 36px;
      margin: 0px;
      margin-top: 43px;
      margin-bottom: 35px;
    }

    .rests {
      gap: 38px;
      justify-content: center;
    }
  }
}
