.restaurant-container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .rest-img {
    width: 100%;
    height: 254px;
  }

  .rest-name {
    font-size: 35px;
    letter-spacing: 2.33px;
    margin-bottom: 1px;
    margin-top: 17px;
    font-weight: normal;
  }

  .rest-chef {
    font-size: 24px;
    letter-spacing: 1.6px;
    margin-top: 1px;
    margin-bottom: 14px;
    font-weight: 100;
  }

  .rest-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .rest-clock {
      width: 13px;
      height: 13px;
    }

    .time {
      font-size: 12px;
      font-weight: 100;
      margin-left: 6px;
      line-height: 1.5;
      letter-spacing: 0.8px;
    }
  }

  .rest-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 76px 30px 76px;
    gap: 21px;

    .rest-button {
      font-size: 17px;
      font-weight: 100;
      letter-spacing: 1.21px;

      &:hover {
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(222, 146, 0, 0.9);
        margin-bottom: -10px;
      }
    }
  }

  .dishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  .restaurant-container {
    .rest-img {
      width: 76%;
      height: 395px;
      object-fit: cover;
    }

    .rest-name {
      font-size: 55px;
      letter-spacing: 3.67px;
      margin-top: 27px;
    }

    .rest-chef {
      font-size: 30px;
      margin-bottom: 27px;
    }

    .rest-time {
      margin-bottom: 48px;

      .rest-clock {
        width: 17px;
        height: 17px;
      }

      .time {
        font-size: 18px;
      }
    }

    .rest-buttons {
      justify-content: center;
      gap: 33px;
      margin-bottom: 42px;

      .rest-button {
        font-size: 26px;
        letter-spacing: 1.82px;
      }
    }

    .dishes {
      gap: 52px;
      width: 80%;
      justify-content: center;
    }
  }
}
