.rest-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-container {
    width: 30%;
    .input-field {
      margin-top: 50px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    .input-error {
      color: red;
      font-weight: normal;
    }
  }

  .input-button-cont {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
