.chef-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 334px;
  margin-left: 20px;

  .chef-title {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.93px;
  }

  .chef-pic-and-text {
    .chef-pic-container {
      position: relative;
      width: 334px;

      .chef-name {
        position: absolute;
        width: 334px;
        height: 55px;
        margin-top: 185px;
        padding: 11px 0 9px 0;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
        letter-spacing: 1px;
      }
    }

    .chef-text {
      font-size: 13px;
      font-weight: 100;
      letter-spacing: 1px;
      text-align: center;
      margin: 21px 24px 10px 26px;
    }
  }
}

@media (min-width: 600px) {
  .chef-container {
    width: 100%;
    align-items: center;
    margin-left: 0px;

    .chef-title {
      font-size: 30px;
      margin-bottom: 37px;
    }

    .chef-pic-and-text {
      display: flex;
      justify-content: center;
      width: 70%;
      gap: 69px;

      .chef-pic-container {
        width: 433px;
        margin-bottom: 59px;

        .chef-name {
          width: 433px;
          height: 78px;
          margin-top: 265px;
        }

        .chef-pic {
          width: 433px;
          height: 338px;
        }
      }

      .chef-text {
        width: 540px;
        font-size: 25px;
        text-align: left;
        margin: 0 0 0 0;
        letter-spacing: 1.08px;
        text-align: justify;
      }
    }
  }
}
