.dish-slide-container {
  text-align: center;

  .dish-slide-title {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.93px;
    margin-bottom: 13px;
    margin-top: 51px;
  }

  .dish-slide-name {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .dish-slide {
    display: flex;
    overflow-x: scroll;
    margin-left: 20px;
    margin-bottom: 100px;
    letter-spacing: 0.94px;
  }
}
